*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: black;
    --seondary: white;
    --accent: #ff00b3;
    --accent-trans: rgba(255, 0, 179, 0.85);
}

a{
    text-decoration: none;
}

html{
    background-color: var(--primary);
    color: var(--seondary);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h1{
    color: var(--accent);
    margin: 2rem 0;
    font-size: 3rem;
}

.intro{
    font-size: 1.5rem;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5rem 0;
    width: 100%;
}

.card{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    color: var(--primary);
    cursor: pointer;
    border-radius: 2rem;
    position: relative;
}

.card{
    overflow: hidden;
}

.card:hover{
    background-color: var(--accent-trans);
    animation: change-background .3s linear;
}

.card::after{
    content: '';
    width: 100%;
    height: 50px;
    border-radius: 1rem;
    background-color: var(--seondary);
    position: absolute;
    top: -20px;
    left: 0;
}

.card:hover:after{    
    top: calc(100% - 30px);
    animation: card-move .3s linear;
}

@keyframes card-move {
    0%{
        top: -20px;
        width: 200px;
        left: 0;
        opacity: 0;
    }
    50%{
        width: 0;
        left: 50%;
    }
    100%{
        width: 200px;
        top: calc(100% - 30px);
        opacity: 1;
    }
}

@keyframes change-background {
    from{
        background-color: var(--accent);
    }
    to{
        background-color: var(--accent-trans);
    }    
}

/* -------------------- About seciont ------------------ */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img{
    width: 40%;
    height: auto;
    margin: 2rem auto;
}

.content{
    font-size: 1.3rem;
    width: 60%;
    margin: 0 auto;
    padding: 1rem;
    border-left: 2px solid var(--accent);
    border-right: 2px solid var(--accent);
    border-radius: 1rem;
    line-height: 1.6rem;
}

.home{
    position: absolute;
    top: 10px;
    left: 10px;
}

.home svg{
    width: 40px;
    height: 40px;
    fill: var(--seondary);
    cursor: pointer;
}

.home svg:hover{
    fill: var(--accent);
}

.highlight{
    color: var(--accent);
    font-weight: bold;
    font-style: italic;
}